.app__Skills {
    position: relative;
    user-select: none;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
}
  
.app__Skills-info {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.app__Skills-title{
    max-width: 500px;
     
    &-title {
        margin-bottom: 8px; 
        font-size: 28px;
        font-weight: 600;
        color: var(--secondary-color);
      
        @media screen and (max-width: 900px) {
            margin-left: 1rem;
        }
  
        @media screen and (max-width: 450px) {
            font-size: 2rem;
            margin-bottom: 8px;
        }
    }
      
    &-info {
        font-size: 16px;
        font-weight: 400;
        color: var(--secondary-color);
        line-height: 1.6rem;
  
        @media screen and (max-width: 900px) {
            margin-left: 1rem;
        }
  
        @media screen and (max-width: 450px) {
            font-size: 1rem;
        }
    }
    
    @media screen and (max-width: 450px) {
        margin-top: 0px;
        margin-left: 0px;
    }
}
  
.app__Skills-blink {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: var(--secondary-color);
    user-select: none;
    visibility: hidden;
    animation: blink .85s infinite;
    animation-delay: 2s;
  
    @media screen and (max-width: 450px) {
        font-size: 1rem;
    }
}
  
.app__Skills-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  
    @media screen and (max-width: 900px) {
        margin-top: 30px;
    }
}

.app__Skills-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app__Skills-item_row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
    padding: 50px;

    div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        backdrop-filter: blur(26px);
        -webkit-backdrop-filter: blur(26px);
        background-color: #1616167c;
        border: 2px solid var(--secondary-color);
        box-shadow: 2px 4px 8px var(--lightGray-color);
        
        img {
            height: 50%;
        }
        
        &:hover {
            box-shadow: 0 0 20px var(--secondary-color);
            transition: all 0.3s ease-in-out;
        }
    
        @media screen and (max-width: 450px) {
            width: 65px;
            height: 65px;
        }
    }
    
    .p-text {
        font-size: 1rem;
        text-align: center;
        color: #ffffff;
        line-height: 1.3;
        font-weight: 500;
        margin-top: 4rem;
        margin-bottom: 30px;
        
        @media screen and (max-width: 450px) {
            font-size: 0.8rem;
        }
    }
}

.app__Skills-item_row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        backdrop-filter: blur(26px);
        -webkit-backdrop-filter: blur(26px);
        background-color: #1616167c;
        border: 2px solid var(--secondary-color);
        box-shadow: 2px 4px 8px var(--lightGray-color);
        
        img {
            height: 50%;
        }
        
        &:hover {
            box-shadow: 0 0 20px var(--secondary-color);
            transition: all 0.3s ease-in-out;
        }
    
        @media screen and (max-width: 450px) {
            width: 65px;
            height: 65px;
        }
    }
    
    .p-text {
        font-size: 1rem;
        text-align: center;
        color: #ffffff;
        line-height: 1.3;
        font-weight: 500;
        margin-top: 4rem;
        margin-bottom: 30px;
        
        @media screen and (max-width: 450px) {
            font-size: 0.8rem;
        }
    }
}


 
.app__Skills-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1100px;
    max-height: 550px;
  
    @media screen and (max-width: 450px) {
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        max-width: 350px;
    }
}
    
.app__Skills-item {
    flex-direction: column;
    text-align: center;  
    margin: 1rem;  
    transition: all 1.5s ease-in-out;
    
    div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        backdrop-filter: blur(26px);
        -webkit-backdrop-filter: blur(26px);
        background-color: #1616167c;
        border: 2px solid var(--secondary-color);
        box-shadow: 2px 4px 8px var(--lightGray-color);
        
        img {
            height: 50%;
        }
        
        &:hover {
            box-shadow: 0 0 20px var(--secondary-color);
            transition: all 0.3s ease-in-out;
        }
    
        @media screen and (max-width: 450px) {
            width: 65px;
            height: 65px;
        }
    }
    
    .p-text {
        font-size: 1rem;
        text-align: center;
        color: #ffffff;
        line-height: 1.3;
        font-weight: 500;
        margin-top: 0.7rem;
        margin-bottom: 30px;
        
        @media screen and (max-width: 450px) {
            font-size: 0.8rem;
        }
    }
}

/*}.app__Skills-container {
    max-width: 800px;
    margin: 0 auto;
}

.app__Skills-container-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.skill {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    color: var(--secondary-color);
    border: 2px solid color var(--secondary-color);
}

.skill img {
    width: 60px;
    border: 2px solid color var(--secondary-color);
    margin-bottom: 10px;
}*/