.app__About {
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    user-select: none;
}
  
.app__About-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 2;
    justify-content: center;
}
  
   
.app__About-title{
    max-width: 500px;
    margin-top: 100px;
     
    &-title {
        margin-bottom: 8px; 
        font-size: 28px;
        font-weight: 600;
        color: var(--primary-color);
      
        @media screen and (max-width: 900px) {
            margin-left: 1rem;
        }
  
        @media screen and (max-width: 450px) {
            font-size: 2rem;
            margin-bottom: 8px;
        }
    }
      
    &-info {
        font-size: 16px;
        font-weight: 400;
        color: var(--primary-color);
        line-height: 1.6rem;
  
        @media screen and (max-width: 900px) {
            margin-left: 1rem;
        }
  
        @media screen and (max-width: 450px) {
            font-size: 1rem;
        }
    }
    
    @media screen and (max-width: 450px) {
        margin-top: 0px;
        margin-left: 0px;
    }
}
  
.app__About-blink {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: var(--primary-color);
    user-select: none;
    visibility: hidden;
    animation: blink .85s infinite;
    animation-delay: 2s;
  
    @media screen and (max-width: 450px) {
        font-size: 1rem;
    }
}

.app__About-desc {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    @media screen and (max-width: 900px) {
        flex-direction: column;
        padding: 1rem;
    }
}

.app__About-desc-container{
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding:20px;
}

.app__About-desc-container-text {
    max-width: 650px;
    align-items: center;
    line-height: 2rem;
    font-size: 18px;
    color: var(--primary-color);
    
    @media screen and (max-width: 900px) {
        max-width: 700px;
    }
    
    @media screen and (max-width: 450px) {
        line-height: 1.8rem;
        font-size: 1.1rem;
    }
}

.app__About-desc-container-icons {
    margin-top: 40px;

    a {
        margin-right: 20px;
        font-size: 26px;
        color: var(--primary-color);

        &:hover {
            color: var(--hover-color);
        }
    }
}

.app__About-desc-img img {
    display: flex;
    max-width: 520px;
    justify-content: center;
    align-items: center;
  
    @media screen and (max-width: 900px) {
        margin-bottom: 20px
    }
    
    @media screen and (max-width: 450px) {
        justify-content: center;
        max-width: 350px;
    }
}