.app__Work {
    position: relative; 
    width: 100%;
    user-select: none;
  }
  
  .app__Work-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  
  .app__Work-title {
    max-width: 420px;
    margin-top: 40px;
    
    &-title {
      margin-bottom: 8px; 
      font-size: 28px;
      font-weight: 600;
      color: var(--primary-color);
      
      @media screen and (max-width: 900px) {
        margin-left: 1rem;
      }
  
      @media screen and (max-width: 450px) {
        font-size: 2rem;
        margin-bottom: 8px;
        margin-top: 100px;
      }
    }
      
    &-info {
      font-size: 16px;
      font-weight: 400;
      color: var(--primary-color);
      line-height: 1.6rem;
  
      @media screen and (max-width: 900px) {
        margin-left: 1rem;
      }
  
      @media screen and (max-width: 450px) {
        font-size: 1rem;
      }
    }
    @media screen and (max-width: 450px) {
      margin-top: 0px;
      margin-left: 0px;
    }
  }
  
  .app__Work-blink {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: var(--primary-color);
    user-select: none;
    visibility: hidden;
    animation: blink .85s infinite;
    animation-delay: 2s;
  
    @media screen and (max-width: 450px) {
      font-size: 1rem;
    }
  }
  
  .app__Work-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
  }
  
  .app__Work-card {
    cursor: pointer;
    position: relative;
    width: 510px;
    height: 290px;
    margin: 16px;
    overflow: hidden;
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    box-shadow: 2px 5px 9px var(--lightGray-color);
  
    @media screen and (max-width: 450px) {
      width: 380px;
      height: 200px;
    }
  }
  
  .app__Work-card .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 1s;
  }
  
  .app__Work-card:hover .card-image {
    transform: scale(1.08);
  }
  
  .card-description {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    padding: 40px;
    transform: translateY(100%);
    transition: transform 2s;
  
    @media screen and (max-width: 450px) {
      padding: 20px;
    }
  }
  
  .app__Work-card:hover .card-description {
    transform: translateY(0);
  }