.app__Footer {
    background: #0c0c0c;
    padding: 12px;
    text-align: center;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    align-items: center;
    user-select: none;

    @media screen and (max-width: 450px) {
      padding: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
}

.app__footer--content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
    font-size: 14px;

    @media screen and (max-width: 450px) {
      font-size: 0.85rem;
      flex-direction: column;
    }
}

.app__footer-right-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 14px;

    @media screen and (max-width: 450px) {
      font-size: 0.85rem;
      padding-top: 10px;
    }
}

  .app__footer-logo img{
    width: 45px;
    margin-left: 24px;

    @media screen and (max-width: 450px) {
      width: 45px;
      margin-left: 12px;
    }
}