.app__testimonials {
    position: relative;
    user-select: none;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
}
  
  .app__testimonials-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  
  .app__testimonials-title{
    max-width: 420px;
    margin-top: 40px;
     
    &-title {
        margin-bottom: 8px; 
        font-size: 28px;
        font-weight: 600;
        color: var(--secondary-color);
      
        @media screen and (max-width: 900px) {
            margin-left: 1rem;
        }
  
        @media screen and (max-width: 450px) {
            font-size: 20px;
        }
    }
      
    &-info {
        font-size: 16px;
        font-weight: 400;
        color: var(--secondary-color);
        line-height: 1.6rem;
  
        @media screen and (max-width: 900px) {
            margin-left: 1rem;
        }
  
        @media screen and (max-width: 450px) {
            font-size: 14px;
        }
    }
    
    @media screen and (max-width: 450px) {
        margin-top: 0px;
        padding-bottom: 20px;
    }
}
  
.app__Testimonials-blink {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: var(--secondary-color);
    user-select: none;
    visibility: hidden;
    animation: blink .85s infinite;
    animation-delay: 2s;
  
    @media screen and (max-width: 450px) {
        font-size: 14px;
    }
}

.app__testimonials-info-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 450px) {
      margin-top: 0px;
    }
  }
  
  .app__testimonials-box{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .app__testimonials-item {
      justify-content: space-between;
      width: 1000px;
      height: 480px;
      display: flex;
      flex-direction: row;
      padding: 56px;
      border-radius: 15px;
      box-shadow: 15px 15px 30px rgb(25, 25, 25),
      -15px -15px 30px rgb(60, 60, 60);
      //border: 2px solid var(--secondary-color);
      //box-shadow: 1px 3px 5px var(--secondary-color);
      //box-shadow: 0 0 10px var(--secondary-color);
      
      img {
        margin-right: 56px;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
  
        @media screen and (max-width: 900px) {
          margin-right: 0px;
          margin-bottom: 16px;
        }
  
        @media screen and (max-width: 450px) {
          width: 120px;
          height: 120px;
          margin-bottom: 5px;
        }
      }
  
    @media screen and (max-width: 900px) {
      width: 670px;
      flex-direction: column;
      height: 625px;
      padding: 36px;
      align-items: center;
    }
  
    @media screen and (max-width: 450px) {
      max-width: 360px;
      height: fit-content;
      padding: 24px;
      margin-bottom: 0px;      
    }
  }
  
  .app__testimonials-content {
    flex: 1 0 0;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  
    @media screen and (max-width: 450px) {
      margin-top: 12px;
      justify-content: flex-start;
      //height: 450px;
    }
  }
  
  .app__testimonials-content-text {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--secondary-color);
  
    @media screen and (max-width: 450px) {
      font-size: 14px;
      line-height: 1.5rem;
    }
  }
  
.app__testimonials-content-titles {
    width: fit-content;
  
    &-name {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: left;
      color: var(--secondary-color);
  
      @media screen and (max-width: 900px) {
        font-size: 1.3rem;
        margin-top: 16px; 
      }
    
      @media screen and (max-width: 450px) {
        font-size: 18px;
      }
    }
  
    &-job {
      font-size: 1.3rem;
      font-weight: 500;
      text-align: left;
      color: var(--lightGray-color);
      margin-top: 15px;
  
      @media screen and (max-width: 450px) {
        font-size: 16px;
        margin-top: 6px;
      }
    }
  }
  
  
.app__testimonials-btn-left,
.app__testimonials-btn-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    //border: 2px solid var(--secondary-color);
    box-shadow: 3px 3px 15px rgb(0, 0, 0),
                   -3px -3px 15px rgb(58, 58, 58);
    margin: 1.5rem;
    cursor: pointer;
  
    svg {
      width: 37px;
      height: 37px;
      color: var(--secondary-color);
    }
    
    &:hover {
        border: 2px solid var(--primary-color);
        background-color: var(--secondary-color);
        box-shadow: 0 0 20px var(--secondary-color);
        transition: all 0.2s ease-in-out;
    
        svg {
          color: var(--primary-color);
        }  
    }

    @media screen and (max-width: 800px) {
      display: none;
    }  
}
  
  .app__testimonials-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
  
    @media screen and (max-width: 900px) {
      margin-top: 10px;
    }
  }
  
  .app__testimonials-dots {
    display: flex;
    justify-content: center;
  }
  
  .app__testimonials-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover{
      box-shadow: 0 0 20px var(--secondary-color);
    }
  }
  
  .app__testimonials-dot.active {
    background-color: var(--secondary-color);
  }
  
.app__testimonials-btn-left2,
.app__testimonials-btn-right2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    margin: 2rem;
    cursor: pointer;
  
    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);

      @media screen and (max-width: 450px) {
        width: 25px;
        height: 25px;
      }
    }
    
    &:hover {
      border: 2px solid var(--primary-color);
      background-color: var(--secondary-color);
      box-shadow: 0 0 20px var(--secondary-color);
      transition: all 0.2s ease-in-out;
    
      svg {
        color: var(--primary-color);
      }  
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
    
    @media screen and (max-width: 450px) {
      width: 35px;
      height: 35px;
    }
}