.app__testimonials {
    position: relative;
    user-select: none;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
}
  
  .app__testimonials-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  
  .app__testimonials-title{
    max-width: 500px;
     
    &-title {
        margin-bottom: 8px; 
        font-size: 28px;
        font-weight: 600;
        color: var(--secondary-color);
      
        @media screen and (max-width: 900px) {
            margin-left: 1rem;
        }
  
        @media screen and (max-width: 450px) {
            font-size: 2rem;
            margin-bottom: 8px;
        }
    }
      
    &-info {
        font-size: 16px;
        font-weight: 400;
        color: var(--secondary-color);
        line-height: 1.6rem;
  
        @media screen and (max-width: 900px) {
            margin-left: 1rem;
        }
  
        @media screen and (max-width: 450px) {
            font-size: 1rem;
        }
    }
    
    @media screen and (max-width: 450px) {
        margin-top: 0px;
        margin-left: 0px;
    }
}
  
.app__Skills-blink {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: var(--secondary-color);
    user-select: none;
    visibility: hidden;
    animation: blink .85s infinite;
    animation-delay: 2s;
  
    @media screen and (max-width: 450px) {
        font-size: 1rem;
    }
}
  
  .app__Work-blink {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    font-family: var(--font-primary);  
    user-select: none;
    visibility: hidden;
    animation: blink .85s infinite;
    animation-delay: 2s;
  
    @media screen and (max-width: 450px) {
      font-size: 1rem;
    }
  }
  
  .app__testimonials-info-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }
  
  .app__testimonials-box{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .app__testimonials-item {
      justify-content: space-between;
      width: 1000px;
      height: 480px;
      backdrop-filter: blur(26px);
      -webkit-backdrop-filter: blur(26px);
      background-color: #1616167c;
      display: flex;
      flex-direction: row;
      padding: 56px;
      border-radius: 15px;
      border: 2px solid var(--lightblue-color);
  
      img {
        margin-right: 56px;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
  
        @media screen and (max-width: 900px) {
          margin-right: 0px;
          margin-bottom: 16px;
        }
  
        @media screen and (max-width: 500px) {
          width: 140px;
          height: 140px;
          margin-bottom: 8px;
        }
      }
  
    @media screen and (max-width: 900px) {
      width: 670px;
      flex-direction: column;
      height: 625px;
      padding: 24px;
      align-items: center;
    }
  
    @media screen and (max-width: 450px) {
      width: 370px;
    }
  }
  
  .app__testimonials-content {
    flex: 1 0 0;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  
    @media screen and (max-width: 500px) {
      font-size: 1.1rem;
      margin-top: 12px;
      justify-content: flex-start;
    }
  }
  
  .app__testimonials-content-text {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    color: #ffffff;
    font-family: var(--font-base);
  
    @media screen and (max-width: 500px) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  
  .app__testimonials-content-titles {
    width: fit-content;
  
    &-name {
      font-size: 2rem;
      font-weight: 500;
      text-align: left;
      color: var(--lightblue-color);
  
      @media screen and (max-width: 900px) {
        font-size: 1.7rem;
        margin-top: 16px; 
      }
    
      @media screen and (max-width: 500px) {
        font-size: 1.5rem;
      }
    }
  
    &-job {
      font-size: 1.3rem;
      font-weight: 500;
      text-align: left;
      color: #d9d9d9;
      margin-top: 15px;
  
      @media screen and (max-width: 500px) {
        font-size: 1.1rem;
        margin-top: 5px;
      }
    }
  }
  
  
  .app__testimonials-btn-left,
  .app__testimonials-btn-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #1616167c;
    border: 2px solid var(--lightblue-color);
    margin: 1.5rem;
    cursor: pointer;
  
    svg {
      width: 37px;
      height: 37px;
      color: var(--lightblue-color);
    }
    
    &:hover {
      background-color: var(--lightblue-color);
      transition: all 0.2s ease-in-out;
    
      svg {
        color: var(--white-color);
      }
  
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
  
  }
  
  .app__testimonials-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
  
    @media screen and (max-width: 900px) {
      margin-top: 10px;
    }
  }
  
  .app__testimonials-dots {
    display: flex;
    justify-content: center;
  }
  
  .app__testimonials-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--lightblue-color);
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .app__testimonials-dot.active {
    background-color: var(--white-color);
  }
  
  .app__testimonials-btn-left2,
  .app__testimonials-btn-right2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #1616167c;
    border: 2px solid var(--lightblue-color);
    margin: 1.5rem;
    cursor: pointer;
  
    svg {
      width: 35px;
      height: 35px;
      color: var(--lightblue-color);
    }
    
    &:hover {
      background-color: var(--lightblue-color);
      transition: all 0.2s ease-in-out;
    
      svg {
        color: var(--white-color);
      }
  
    }
    @media screen and (min-width: 900px) {
      display: none;
    }
  
  }